.projectsContainer{
    margin-top: 4rem;
    width: 100%;
    position: relative;
    padding: var(--padding);
}
.projectsContainer h1{
    text-align: right;
    margin-right: 8rem;
}
.projectsContainer .projects{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: min-content;
    grid-auto-columns: 45%;
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 17px;
    grid-auto-rows: max-content;
    scroll-behavior: smooth;
    /* scroll-snap-type: X mandatory; */
}
.projects::-webkit-scrollbar{
    background: transparent;
}
.projectsContainer .projects .project{
    border-radius: 10px;
    border: 1px solid grey;
    grid-row-end: span 2;
    position: relative;
    padding: .05rem;
}
.projectsContainer .projects .project .description{
    font-size: 14px;
    margin-top: 2.5rem;
}
.projectsContainer .projects .project .projectImg{
    background: #3c3d3b;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 12px;
}

.projectsContainer .projects .project .projectImg img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.projectsContainer .projects .project .language{
    color: #fff;
    border: 1px solid green;
    display: inline-block;
    padding: .2rem .5rem;
    margin: .8rem .3rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 12px;
}
.projectsContainer .projects .project .textArea{
    padding: 24px 12px;
}
.projectsContainer .projects .project .textArea .header{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    /* font-size: larger; */
    margin-bottom: 2rem;
}
.projectsContainer .projects .project button{
    color: var(--color);
    background: none;
    padding: 2px 12px;
    border: 1px solid var(--green);
    border-radius: 7px;
    font-size: 12px;
    cursor: pointer;
    transform: .5s linear;
}
.projectsContainer .projects .project button:hover{
    border: 2px solid var(--green)
}

.projectsContainer .projects .project .textArea{
    position: absolute;
    background: #1b1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: cover;
    border: .3px solid green;
    height: 100%;
    top: 0;
    border-radius: 12px;
    z-index: 7;
    display: none;
}
.projectsContainer .projects .project:hover{
    border: none;
}
.projectsContainer .projects .project:hover .textArea{
    display: block;
    justify-content: center;
    animation-name: slideIn;
    animation-duration: 1s;
}
@keyframes slideIn {
    from{
        margin-top: -9rem;
    }
    to{
        margin-top: 0;
    }
}
.projectsContainer .projects .project .textArea p{
    word-spacing: 4px;
}
.projectsContainer .projects .project .btns{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
}

@media (max-width: 520px){
    .projectsContainer .projects{
        grid-auto-columns: 85%;
    }
    
    .projectsContainer .projects .project .btns{
    }
    .projectsContainer .projects .project .btns .btnStyle, .btns .btnStyle i{
        font-size: 12px;
        padding: 3px 6px;
    }
}
