@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bruno+Ace+SC&family=Darumadrop+One&family=Exo+2:wght@200&family=Francois+One&family=Noto+Sans+JP:wght@500&family=Quicksand:wght@500&family=Signika+Negative:wght@300&family=Tsukimi+Rounded:wght@500&family=Varela+Round&family=Ysabeau:wght@200&display=swap');
h1{
    margin-bottom: 2rem;
    font-size: 32px;
    font-family: 'Tsukimi Rounded', sans-serif;
}
h1 span{
    color: var(--green);
}